/* Tiny Carousel */
#slider1 {
    height: 1%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding: 0 50px 10px;
    width:65%;
}

#slider1 .viewport {
    height: 125px;
    overflow: hidden;
    position: relative;
}

#slider1 .buttons {
    background:rgb(213, 213, 213);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 29px;
    height: 29px;
    color: rgb(102, 102, 102);
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    font-size: 22px;
}

#slider1 .next {
    right: 0;
    left: auto;
    top: 50%;
}

#slider1 .buttons:hover {
    color: #fff;
    background: rgb(240, 124, 0);
}

#slider1 .disable {
    visibility: hidden;
}

#slider1 .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 240px;
    left: 0;
    top: 0;
}

#slider1 .overview li {
    float: left;
    margin: 0 20px 0 0;
    padding: 0 0 0 45px;
    height: 28px;

    width: 150px;
    margin: 70px 0 0 0;
}
