/*.hr {*/
    /*margin: 0; /!* Обнуляем значение отступов *!/*/
    /*padding: 4px; /!* Значение полей *!/*/
/*}*/
/*.hr li {*/
    /*display: inline; /!* Отображать как строчный элемент *!/*/
    /*margin-right: 5px; /!* Отступ слева *!/*/
    /*padding: 3px; /!* Поля вокруг текста *!/*/
/*}*/
/*.map{*/
    /*position: relative;*/
    /*width: 620px;*/
    /*height: 367px;*/
    /*outline: 0px;*/
    /*float: left;*/
/*}*/
.line {
    border-left: 4px solid orange; /* Параметры линии */
    /*margin-left: 2px; /!* Отступ слева *!/*/
    padding-left: 15px; /* Расстояние от линии до текста */
    padding-right: 15px;
}
.orange-line{
    border-bottom: 6px solid orange;
}
.blue-line {
    border-bottom: 6px solid #2270f2;
}
.horizontal-line,
.horizontal-line-collapse {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
}
.horizontal-line {
    padding-bottom: 5px;
}
.horizontal-line-collapse {
    padding-bottom: 10px;
}
/*.color-text{*/
    /*color: #f07c00;*/
/*}*/
.orange-text{
    color: #f07c00;
}
.red-text {
    color: #cc3300;
}
.blue-text {
    color: #2270f2;
}
/*.color-grey{*/
    /*color: #555555;*/
/*}*/
/*.color-black{*/
    /*color: black;*/
/*}*/
/*.word{*/
    /*margin-left: 14px;*/
/*}*/
/*.map{*/
    /*width: 500px;*/
    /*height: 400px;*/
/*}*/
.to-be-changed {
    color: black;
}
.to-be-changed:target {
    color: red;
}
.mainName,
.subName,
.subCompany,
.subPeople,
.index-text,
.regBut,
.mainOrgInfo,
.author,
.docNavi,
.lang,
.modal-text {
    font-family: 'Myriad Pro';
    font-weight: 400;
}
.mainName, .subName {
    /*font-family: 'Myriad Pro';*/
    /*color: #686868;*/
    font-size: 24px;
    /*font-weight: 400;*/
    line-height: 43px;
    /*text-align: left;*/
}
.mainName {
    color: #686868;
}
.subName {
    color: #555555;
}
.subCompany {
    /*font-family: 'Myriad Pro';*/
    color: #2270f2;
    font-size: 16px;
    /*font-weight: 400;*/
    line-height: 20px;
    /*text-align: left;*/
}
.subPeople {
    /*font-family: 'Myriad Pro';*/
    color: #f07c00;
    font-size: 16px;
    /*font-weight: 400;*/
    line-height: 20px;
    /*text-align: left;*/
}
.index-text {
    /*font-family: 'Myriad Pro';*/
    color: #555555;
    font-size: 13px;
    /*font-weight: 400;*/
    line-height: 20px;
    /*text-align: left;*/
}
.regBut, .regButComp {
    border-radius: 4px;
    /*background-color: #f07c00;*/
    box-shadow: 0px 2px 1px 0px rgba(30, 88, 119, 0.5);
    width: 260px;
    height: 44px;
    /*font-family: 'Myriad Pro';*/
    color: #ffffff;
    font-size: 20px;
    /*font-weight: 400;*/
    line-height: 43px;
    text-align: center;
    text-shadow: 0px 2px 1px rgba(30, 88, 119, 0.5);
    /*text-transform: uppercase;*/
    margin-bottom: 15px;
}
.regBut {
    background-color: #f07c00;
}
.regBut:hover {
    background-color: red;
}
.regButComp {
    background-color: #2270f2;
}
.regButComp:hover {
    background-color: blue;
}
.mainOrg {
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    box-sizing: border-box;
    /*padding-top: 5%;*/
    /*padding-bottom: 5%;*/
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
    /*background-color: #ffffff;*/
    width: 300px;
    height: 163px;
    /*margin-right: 2px;*/
    margin-left: 10px;
    margin-top: 2%;
    text-align: center;
}


/*Footer CSS start*/

footer{
    font-family: 'Myriad Pro';
}

#footer_bg {
    background: #d5d5d5;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
}
#footer_background{
    background: #d5d5d5;
}

.footer_ul {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    position:   inherit;
}
.footer_ul li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 1.4%; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
    color:  #555555;
}
#footer_hr {
    margin-top: -2px;
}
#footer_menu {
    margin-top: 10px;
}

.footer_colorLi{
    color: #555555;
}
.footer_li-li:hover{
    text-decoration: none;
}
.footer_colorLi:hover {
    color: #f07c00; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: none; /* Добавляем подчеркивание */
    padding-bottom: 4px;
    border-bottom: 2px solid #f07c00;
}
.footer_shareText, .soc {
    float: left;
}

.footer_shareText {
    padding-top: 7px;
}

.footer_contactsPD {
    float:  right;
    margin-top: 10px;
}
#footer_copy{
    margin-left: 2%;
}

/*Footer CSS end*/

/*about Company CSS start*/

#aboutCompany_body{
    font-family: 'Myriad Pro';
}

.aboutCompany_contentH2{
    text-indent: 35px;
}

#aboutCompany_ul {
    list-style: square;
    padding: 0; /* Убираем поля для браузера Файер фох */
    margin: 0;
    margin-left: 16.5px; /* Отступ слева */
}
.aboutCompany_li {
    color: #f07c00;
}
.aboutCompany_li span {
    color:  #333;
}

#aboutCompany_PDOrange{
    color: #f07c00;
}

#aboutCompany_motoWord{
    margin-top: 20px;
    border-left: 5px solid #2270f2;

}
#aboutCompany_butReg{
    margin-top: 40px;
    margin-bottom: 30px;
}
#aboutCompany_shareText {
    float: left;
    padding-top: 5px;
}
.aboutCompany_hr-normal{
    margin-top: -0.2em;
}

#aboutCompany_margin-bottom{
    margin-bottom: 40px;
}

.aboutCompany_hr-yellow{
    margin-top: -2em;
    margin-left:   0px;
    width:  80px;
    background-color: #f07c00;
    height: 6px;
}

/*about Company CSS end*/

.mainOrgInfo {
    background-color: #ffffff;
    width: 300px;
    height: inherit;
    /*height: 80px;*/
    /*font-family: 'Myriad Pro';*/
    color: #666666;
    font-size: 18px;
    /*font-weight: 400;*/
    line-height: 26px;
    text-align: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.socialLink{
    border-radius: 4px;
    border-width: 1px;
    border-color: #b2b2b2;
    border-style: solid;
    width: 292px;
    height: 23px;
}
.regCompForm{
    border-radius: 4px;
    border-width: 1px;
    border-color: #b2b2b2;
    border-style: solid;
    width: 480px;
    height: 69px;
}
.author {
    /*font-family: 'Myriad Pro';*/
    color: #848484;
    font-size: 12px;
    /*font-weight: 400;*/
    letter-spacing: 0.12px;
    line-height: 16px;
    /*text-align: center;*/
}
.docNavi > li > a {
    /*font-family: 'Myriad Pro';*/
    color: #555555 !important;
    font-size: 12px;
    /*font-weight: 400;*/
    text-transform: uppercase;
    text-decoration: none;
}
.lang, .toReg {
    font-size: 16px;
    margin-right: 8px;
    margin-left: 8px;
}
.lang, .text-decor {
    text-decoration: underline;
}
.text-decor {
    font-weight: 700;
}
.modal-text {
    font-size: 16px;
    margin-top: 1px;
    margin-bottom: 2px;
}
#link1, #link2 {
    text-decoration: none;
}
#link1:hover, #link2:hover {
    text-decoration: none;
    color: orange;
}

